<script src="jeffartagame.js" type="text/javascript" charset="utf-8"></script>
<script src="js/application.js" type="text/javascript" charset="utf-8"></script>
<link href="../style.css" media="screen" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.7.1.min.js"> </script>
<form action="add_new_course.php" method="post">
<center><h4><i class="icon-plus-sign icon-large"></i> Add  New Course</h4></center>
<hr>
<div id="ac">
<span>Course Name : </span><input type="text"  name="course" placeholder="Add Course Name" style="width:265px; height:30px; margin-left:-5px;" >
<?php
}
?>
</select><br>
<span>Faculty : </span> <select name="faculty">
  <option value="Information Technology faculty">Information Technology Faculty</option>
  <option value="Buisness faculty">Buisness Faculty</option>
  <option value="Engineering faculty">Engineering Faculty</option>
  <option value="Medical faculty">Medical Faculty</option>
</select> <br>
<span>Year : </span>
<select name="year" palceholder="Select the faculty">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select> 
<br>
<span>Semester </span>
     <select name="semester">
  <option value="1">1</option>
  <option value="2">2</option>
</select> 
<div style="float:right; margin-right:10px;">
<button class="btn btn-success btn-block btn-large" style="width:267px;"><i class="icon icon-save icon-large"></i> Save</button>
</div>
</div>
    
    
</form>

